# Two separate environment files are built from this example:
# 1) .env - used to replace ${VARIABLE_NAME} interpolation inside docker files (e.g. docker-compose.yml) 
#    docker-compose.yml cannot use a file other than .env (e.g. cannot use .env.dev variables for the Docker files interpolation)
#    This file is also passed into the development containers (e.g. replaces values like os.environ.get("DJANGO_SECRET_KEY") in Django settings )
# 2) .env.prod - passed into the production containers for use by Django settings for os.environ.get("DJANGO_SECRET_KEY") type settings

# Django Settings
DJANGO_ENV=dev # dev or prod
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=*
DJANGO_LOGLEVEL=info
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_CORS_ALLOWED_ORIGINS=

# Database Settings
DATABASE_ENGINE=postgresql
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=